# zconf-settings.tcl

namespace eval zconf {
	namespace eval settings {
		# SETTINGS
		#  pubtrig - public trigger
		#  admtrig - admin trigger
		#  zchan   - channel for zconf to reside
		#  url     - web access to your znc
		#  irclink - irc access to your znc
		#  version - please dont change this :(
		#  pass    - nickserv pass
		#  zncpass - password for znc
		#  passlen - password length for generated passwords
		#  path    - where do you want the userdir to reside?
		#            you must have access to this directory.
		#  force   - force loading of zdb.tcl
		variable pubtrig "-";
		variable zchan "#znc";
		variable url "www.znc.link";
		variable irclink "znc.irclink";
		variable version "0.9";
		variable pass "";
		variable zncpass "placeholder";
		variable passlen "23";
		variable path "/home/user/eggdrop";
		variable force "false";
		# ZSERV - this setting is for automatically adding you're network to
		#         new ZNC accounts upon creation. This is disabled by default.
		#
		#  uzserv  - enable the use of zserv
		#  zserv   - address for zserv
		variable uzserv "false";
		variable zserv "irc.zncserver";
		variable zsnet "zncnet";
	}
}
putlog "zConf - Settings Loaded";
